[core]
    editor = code --wait
[help]
    autoCorrect = 1
[alias]
    s = status
    ss = status -sb
    b = branch -all -vv
    bd = branch --delete
    f = fetch --all --prune
    cb = checkout -b
    co = checkout

    l = log --pretty=format:"%C(yellow)%h\\ %C(cyan)%ad\\%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --date=short
    lol = log --graph --decorate --oneline

    purr = pull --rebase
    rao = remote add origin
    reset-to-upstream = reset --hard "@{upstream}"
    mnff = merge --no-ff

    fix-gitignore = !git rm -r --cached .
    make-exec = update-index --chmod=+x

[fetch]
    prune = true
[push]
    autoSetupRemote = true

[diff]
    tool = vscode
[difftool "vscode"]
    cmd = code --wait --diff $LOCAL $REMOTE
[merge]
    tool = vscode
[mergetool "vscode"]
    cmd = code --wait $MERGED

# store http credentials in .git-credentials file
# [credential]
#     helper = store

# include additional config file in specified directory
# [includeIf "gitdir:~/code/"]
#     path = ~/.gitconfig-code
